<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<div id="fh5co-offcanvass">
  <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
  <h1 class="fh5co-logo"><a class="navbar-brand" href="/">COME TO MA ROOM</a></h1>
  <ul>
    <li class="active"><a href="/">HOME</a></li>
    <li><a href="/about/aboutindex">ABOUT</a></li>
    <li><a href="/kitshare/kitshareindex">Kit Share</a></li>
    <li><a href="/toolgroup/toolgroupindex">Group Purchasing</a></li>
    <li><a href="/users/sign_in">Log in</a></li>
    <li><a href="/users/sign_out">Log out</a></li>
  </ul>
  <h3 class="fh5co-lead">Connect with us</h3>
  <p class="fh5co-social-icons">
    <a href="#"><i class="icon-twitter"></i></a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-instagram"></i></a>
    <a href="#"><i class="icon-dribbble"></i></a>
    <a href="#"><i class="icon-youtube"></i></a>
  </p>
</div>
<header id="fh5co-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
        <a class="navbar-brand" href="/">SHARE YOUR<br>DREAM</a>
      </div>
    </div>
  </div>
</header>
<!-- END .header -->


<div id="fh5co-main">
  <div class="container">
    <div class="row">

      <div id="fh5co-board" data-columns>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18341754_1047759942035262_7616124579494184218_n.jpg?oh=9c4ce96178202a38a4f5c7b7ce19624e&oe=59BBE9D3" alt="Free HTML5 Bootstrap template">
          </div>
          <div class="fh5co-desc"></div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18342621_1047760105368579_4734069831667909886_n.jpg?oh=678cf094bb2d10114f10d48efbcfa63d&oe=59BE8A92" alt="Free HTML5 Bootstrap template">
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18342582_1047760168701906_6298706685766154403_n.jpg?oh=0b6761467aaccb46b9c23d7d306d0378&oe=59AF1C9E" alt="Free HTML5 Bootstrap template">
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18342457_1047764448701478_6484513278754789294_n.jpg?oh=06a70b026cb3217d08c5c1a0283fd672&oe=59A8A440" alt="Free HTML5 Bootstrap template">
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18268270_1043249899152933_881016609913298439_n.jpg?oh=20180798e255067f7d8c1db542c4c5a5&oe=59BF8BD3" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17992309_1033063336838256_4690032702599542207_n.jpg?oh=04d769b7d27ba1e1ba49be47a07f81b4&oe=59742231" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18033289_1033618403449416_6131190263861894306_n.jpg?oh=ee565e159e6fe4cd6bde2d916b559fec&oe=59B0A758" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18033811_1033618256782764_245856337307470768_n.jpg?oh=5f099d337c7b952e0cfee755ee931e6c&oe=59B4FBC6" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18033168_1033618283449428_6241823863305604599_n.jpg?oh=f9923810ca38a82665eda8f785fadc75&oe=59BC26D7" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17951785_1032098460268077_1916427292262739774_n.jpg?oh=8c10ebbce9158ff4dcd72c09d4cb16c7&oe=59A5C2F4" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17991974_1032098876934702_4032914706976426356_n.jpg?oh=14ce9ef00ed4990458f720eace606c10&oe=59C2E24A" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18033515_1032108356933754_684137928825260471_n.jpg?oh=406361ab6e58d3b841621951ff96c2f5&oe=59AEE274" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17903587_1029126457231944_5310605016740870376_n.jpg?oh=ff5e9baeefb940a03d88fea4d4432265&oe=59C15535" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/s960x960/17917496_1029126600565263_3710467109831918363_o.jpg?oh=5afaed59c60ac050a3beb5d5aa00e594&oe=59BEAD74" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17523721_1029126690565254_1368529752579473255_n.jpg?oh=0a6ad0dcbdd363a2216f0fa26500c25a&oe=59BF0728" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17903695_1029126817231908_7707272682879283256_n.jpg?oh=879750d6b5b841d6d2e4965db89a1427&oe=59B5CDD2" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17759896_1022461671231756_5415208580159416545_n.jpg?oh=c7502e5d972fd1b2c34dace9eaf9a1e1&oe=59BA3669" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17799299_1022477701230153_6378992970244004367_n.jpg?oh=7815ef7dc7867f8dba9e921f27948704&oe=59A181BE" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17796857_1022478227896767_7034632587840771849_n.jpg?oh=0589a2169f210b059fd2673c7427453a&oe=59B70DEA" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17759753_1021365234674733_5212815884087664417_n.jpg?oh=353e0002f84360a7dee8571db7c00d2c&oe=59B78F5E" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17759842_1021365338008056_321035984916612113_n.jpg?oh=1e9d7f12fe750fd93b8d6c574e19293e&oe=59767370" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>

        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17629788_1018885438256046_4671562279395471702_n.jpg?oh=8b04247094f10d9276da95f9c74759c0&oe=59A28F07" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17553525_1018882081589715_663392389665248221_n.jpg?oh=10d31881b0d45538d04a8b7649481211&oe=59ABD48D" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17634793_1018882798256310_4836566119924540581_n.jpg?oh=c299457261e77aea13eede8619585079&oe=59747560" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17554534_1017584078386182_7511331454683699373_n.jpg?oh=6953bb340e2f508de7d026b6697aadb4&oe=59A49A39" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17626581_1017584348386155_6025655788590641904_n.jpg?oh=57f09a120a46676bc02e066dd46d8bc8&oe=59BB51D5" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17629646_1016019238542666_3635283852652609907_n.jpg?oh=5a26a72fe74f55595cf7d7ba8e704d66&oe=59ACD591" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17523236_1014656835345573_2714358704433796346_n.jpg?oh=09a270a9e4c104144dee6bd03ebb12d0&oe=59A461C0" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17458178_1013498122128111_2939438556354334770_n.jpg?oh=3c4af5749903b24ad242c4323ac78814&oe=59C2AC35" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17457562_1013485722129351_9012750370569263387_n.jpg?oh=93d040b3e98d45ed8ab4ec502d815ac3&oe=59A5F7A9" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
        <div class="item">
          <div class="animate-box">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17458315_1013485835462673_5110433255030588036_n.jpg?oh=e82318c964136f7575c52f52739d97a6&oe=59AC7BC8" alt="Free HTML5 Bootstrap template"></a>
            <div class="fh5co-desc"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="fh5co-footer">

  <div class="container">
    <div class="row row-padded">
      <div class="col-md-12 text-center">
        <p class="fh5co-social-icons">
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-instagram"></i></a>
          <a href="#"><i class="icon-dribbble"></i></a>
          <a href="#"><i class="icon-youtube"></i></a>
        </p>
        <p><small>&copy; Half LIKELION with INHA and SOOKMYUNG. All Rights Reserved. <br>Designed by: YOUDUK, MINDI || Images by: FACEBOOK </small></p>
      </div>
    </div>
  </div>
</footer>
